@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
    --accent-color: #FB9333;
    --main-text-color: #575757;
    --light-text-color: #999999;
    --accent-bg-color: #FFC87A;
    --accent-bg-light: #FFF1DE;
    --accent-bg-light: #FFF0DC;
    --lighter-text-color: #828282;
    --white: #FFFFFF;
    --num-color: #CCCCCC;
    --accent-gradient: #FFD7A0;
    --cals-bar-color: #F5F5F5;
}

body {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    color: var(--main-text-color);
    margin: 0px;
}

.header-logo-link {
    font-size: 24px;
    font-weight: 900;
    font-family: 'Roboto', serif;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

.header-container {
    margin: 0 120px;
    margin-top: 30px;
    margin-bottom: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.woman-image {
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
    z-index: -1;
}

.header-link {
    font-size: 16px;
    font-weight: 500;
    padding-left: 27px;
    padding-right: 27px;
}

.header-link.orange-highlight {
    color: var(--accent-color);
    font-weight: 700;
}

.header-sign-button {
    all: unset;
    border-radius: 100px;
    background-color: #FB9333;
    color: #FFFFFF;
    padding: 16px 52px;
    font-weight: 600;
}

.highlighted {
    background-color: var(--accent-bg-light);
    border-radius: 100px;
    font-weight: 600;
    color: var(--accent-color);
    padding: 16px;
}

.orange-highlight {
    color: var(--accent-color);
}

.main-page {
    margin-left: 120px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
}

.main-page-left {
    width: 50%;
}

.main-page-heading {
    font-size: 72px;
    font-weight: 700;
    margin: 0;
    line-height: 1.3;
    margin-top: 50px;
}

.main-page-subheading {
    color: var(--lighter-text-color);
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.order-button {
    all: unset;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--accent-color);
    color: var(--white);
    padding: 24px 48px 24px 48px;
    font-weight: 600;
}

.main-page-stats {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 75px;
}

.main-page-stats-item {
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.main-page-stats-digits {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
}

.main-page-stats-sub {
    font-size: 16px;
    font-weight: 500;
    color: var(--light-text-color);
}

.aside-main-page {
    position: relative;
    width: 50%;
}

.main-page-rating {
    background-color: #FFFFFF;
    position: absolute;
    bottom: 70px;
    right: 410px;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    box-shadow: 0 30px 40px rgba(255, 165, 0, 0.2);
    padding: 5px;
    padding-right: 35px;
}

.main-page-rating-content {
    margin-top: 5px;
    display: flex;
    gap: 8px;
    margin-left: 10px;
    
}
.main-page-rating-content h4 {
    margin: 0;
    color: var(--main-text-color);
    font-size: 16px;
    font-weight: 600;
}


.main-page-rating-stars span{
    margin-left: 5px;
    font-size: 12px;
    font-weight: 400;
    color: #5757578c;
}

.main-page-rating-stars span b{
    font-weight: 600;
    color: #575757;
}

.main-page-rating-content {
    display: flex;
    flex-direction: column;
}

.main-page-rating-stars {
    display: flex;
    flex-direction: row;
}

.main-page-cals {
    position: absolute;
    bottom: -30px;
    right: 93px;
    display: flex;
    flex-direction: column;
    background-color: #fffffffb;
    border-radius: 28px;
    padding: 20px;
}

.main-page-cals h4 {
    font-weight: 400;
    font-size: 16px;
    color: var(--main-text-color);
    margin: 0;
    margin-bottom: 4px;
}

.main-page-cals h2 {
    font-weight: 600;
    font-size: 24px;
    color: var(--main-text-color);
    margin: 0;
    margin-bottom: 17px;
}

.cals-num {
    color: #2B2B2B;
}


.main-page-cals-bars {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 7px;
}
  
.cals-bar {
    width: 10px;
    height: 73px;
    border-radius: 100px;
    background-color: var(--cals-bar-color);
    position: relative;
    border-radius: 4px; 
    overflow: hidden;
}

.cals-bar::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(
        180deg, 
        var(--accent-gradient) 0%, 
        var(--accent-color) 100%
        );
    height: 0%;
    transition: height 0.3s;
    border-radius: 100px;
}
  
.cals-bar[data-value="32"]::before {
    height: 32%;
}

.cals-bar[data-value="45"]::before {
    height: 45%;
}

.cals-bar[data-value="66"]::before {
    height: 66%;
}


.cals-bar[data-value="51"]::before {
    height: 51%;
}

.cals-bar[data-value="39"]::before {
    height: 39%;
}

.cals-bar[data-value="69"]::before {
    height: 69%;
}

.cals-bar[data-value="73"]::before {
    height: 73%;
}

.cals-bar[data-value="80"]::before {
    height: 80%;
}

/* Why us styles */

.benefits-section {
    margin: 0 120px;
    margin-bottom: 90px;
}

.benefits-text {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-self: space-between;
    align-items: center;
    margin-bottom: 70px;
    font-weight: 400;
}

.benefits-heading { 
    text-align: left;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 600;
    width: 100%;
    margin: 0;
    padding: 0;
}

.benefits-subtext {
    font-size: 20px;
    color: var(--lighter-text-color);
    width: 58%;
    line-height: 1.6;
}

.benefits-pages {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 40px;
}

.benefits-pages-item {
    background: var(--white);
    border-radius: 50px;
    padding: 30px 40px;
    border: 1px solid var(--accent-bg-light);
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 310px;
    text-align: left;
}

.benefit-img {
    width: 100px;
    margin-bottom: 31px;
}

.benefit-item-heading {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.benefit-description {
    font-size: 16px;
    font-weight: 400;
    color: var(--main-text-color);
    line-height: 1.7;
}

.benefit-link-container {
    margin-top: 10px;
    border-radius: 100px;
    padding: 10px;
    padding-left: 19px;
    margin-right: 50%;
    font-weight: 400;
}


.benefit-link {
    color: var(--main-text-color);
    text-decoration: none;
    padding: 0;
    border-radius: 50px;
}

.benefit-arrow {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 11px;
    width: 14px;
    color: inherit
}

.benefit-link-container:hover {
    color: var(--white);
    transition: transform 0.7s ease;
    background-color: var(--accent-color);
    img {
        filter: invert(100%) brightness(1000%);
    }
}

.benefits-pages-item:hover {
    box-shadow: 0 30px 40px rgba(255, 165, 0, 0.2);
    transition: transform 0.2s ease;
    transform: translateY(-8px);
    /* border: none; */
  }

/* Reviews styles */

.people-review {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 40px;
    background-color: var(--accent-bg-light);
    padding-top: 90px;
    padding-bottom: 120px;
    padding-left: 130px;
    margin-left: -10px;
}

.reviews-text {
    width: 150%;
}

.reviews-heading {
    font-size: 48px;
    font-weight: 600;
    margin-top: 0px;
    line-height: 1.25;
}

.reviews-subtext {
    font-size: 16px;
    font-weight: 400;
    color: var(--light-text-color);
    margin-top: 0px;
    margin-bottom: 27px;
    opacity: 0.8;
}

.review-pages-index {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 700;
    color: var(--num-color);
}

.review-pages-index b {
    color: var(--main-text-color);
    font-size: 48px;;
}

.review-pages-buttons {
    display: flex;
    gap: 20px;
    margin-top: 27px;
    margin-bottom: 10px;
}

.review-button {
    display: flex;
    gap: 20px;
    margin-top: 27px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
}

.inactive-rb {
    background-color: var(--accent-bg-color);
}

.active-rb {
    background-color: var(--accent-color);
}

.btn-img {
    width: 24px;
    padding: 20px 18px;
}

.reviews-pages {
    margin-left: 70px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 80px;
    overflow: hidden;
}

.review-pages-item {
    background-color: var(--white);
    border-radius: 10px;
    padding: 0px 27px;
    overflow: visible;
    padding-bottom: 20px;
}

.client-name {
    margin-top: 100px;
    font-size: 24px;
    font-weight: 500;
    color: var(--main-text-color);
    margin-bottom: 7px;
}

.client-age {
    font-size: 14px;
    color: var(--light-text-color);
}

.client-review {
    font-weight: 400;
    color: var(--main-text-color);
}

.client-img {
    position: absolute;
    margin-top: -40px;
    height: 10%;
    border-radius: 10px;
}

/* Menu styles */

.menu-section {
    margin-top: 120px;
}

.menu-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.menu-upper-text {
    font-weight: 500;
    font-size: 20px; 
    margin-top: 0px;
    margin-bottom: 0px;
}

.menu-heading {
    font-size: 48px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 60px;
    padding: 0px;
}

.menu-pages {
    display: flex;
    justify-content: space-between;
    margin: 0 120px;
}

.menu-pages-item {
    position: relative;
    height: 510px;
    width: 28%;
    border-radius: 50px;
    background-size: cover;
    background-position: center 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    color: var(--white);
}

.menu-salad-name {
    font-size: 24px;
    font-weight: 600;
    margin-left: 20px;
}

.menu-salad-price {
    font-size: 40px;
    font-weight: 700;
    margin-left: 24px;
    margin-bottom: 5px;
}

/* Form styles */

.form-section {
    margin: 0px 120px;
    margin-top: 220px;
    margin-bottom: 160px;
    position: relative;
    background-image: url('../assets/background.svg');
    background-size: cover;
    background-position: center 0%;
    padding: 60px 0;
    text-align: center;
    background-color: var(--accent-bg-light);
    border-radius: 50px;
}
    

.form-section-elements {
    display: flex;
    flex-direction: column;
}

.form-upper-text {
    font-weight: 400;
    font-size: 20px; 
    margin-top: 0px;
    margin-bottom: 0px;
}

.form-heading {
    font-size: 48px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 17px;
    padding: 0px;
}

.form-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--light-text-color);
    margin-top: 0px;
    margin-bottom: 70px;
    opacity: 0.8;
}

.subscription-form {
    background-color: var(--white);
    display: flex;
    padding: 10px;
    border-radius: 50px;
    margin: 0 200px;
    margin-bottom: 23px;
}

.form-submit-input {
    all: unset;
    font-size: 16px;
    color: var(--main-text-color);
    width: 100%;
    padding: 15px 30px;
    text-align: left;
    font-weight: 400;
}

.form-submit-button {
    all: unset;
    border-radius: 100px;
    background-color: var(--accent-color);
    color: var(--white);
    padding: 15px 30px;
    border-radius: 50px;
    margin-left: 10px;
    font-weight: 500;
    font-size: 18px;
}

/* Footer styles */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 80px 50px 80px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.footer-info > *:last-child {
    margin-top: auto;
}

.footer-logo {
    font-size: 24px;
    font-weight: 900;
    font-family: 'Roboto', serif;
    color: var(--main-text-color)
}

.footer-text, .footer-copyright {
    font-size: 16px;
    color: var(--main-text-color);
    font-weight: 400;
}

.footer-info-subsection {
    display: flex;
    flex-direction: column;
    gap: 67px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-link.orange-highlight {
    color: var(--accent-color);
    font-weight: 600;
}

.footer-link {
    font-size: 16px;
    font-weight: 400;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.footer-contact-info-header {
    font-size: 16px;
    font-weight: 600;
}

.footer-contact-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 400;
}

.footer-contact-info-item {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.footer-social-media {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-social-media-icons {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.footer-social-media-subheading {
    font-size: 16px;
    font-weight: 400;
}